



.login-panel {
  padding-top: 200px;
}

.fixed {
  position: fixed;
  top: 100px;
  right:20px;
  text-align: center;
  z-index:9999999;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3) !important;
}


@keyframes fadeIn {
  0% {
  opacity: 0; /*初始状态 透明度为0*/
  right: -100px;
  }
  100% {
  opacity: 1; /*结尾状态 透明度为1*/
  right: 20px;
  }
}

.notice {
  animation-name: fadeIn; /*动画名称*/
  animation-duration: 0.5s; /*动画持续时间*/
  animation-iteration-count: 1; /*动画次数*/
  animation-delay: 0s; /*延迟时间*/
}





/*刷新背景颜色修复*/

.skin-blue .wrapper,body
{
  background-color: #ecf0f5;
}


