<!doctype html>
<html  ng-app="BackWebApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/AdminLTE/dist/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../bower_components/AdminLTE/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="../bower_components/cropper/dist/cropper.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/AdminLTE/dist/css/AdminLTE.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- <link rel="stylesheet" href="sytles/login.css"> -->
    <!-- endbuild -->
  </head>
  <body class="skin-blue  sidebar-mini">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="wrapper">
      <div  ng-controller="MainCtrl">

        <section ng-controller="SidebarCtrl">
          <header class="main-header">
            <!-- Logo -->
            <a ui-sref="app.home" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>M</b>R</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>MR</b>Media</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <!-- Sidebar toggle button-->
              <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
              </a>

              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <!--&lt;!&ndash; Notifications: style can be found in dropdown.less &ndash;&gt;-->
                  <!--<li class="dropdown notifications-menu">-->
                  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                  <!--<i class="fa fa-bell-o"></i>-->
                  <!--<span class="label label-warning">10</span>-->
                  <!--</a>-->
                  <!--<ul class="dropdown-menu">-->
                  <!--<li class="header">You have 10 notifications</li>-->
                  <!--<li>-->
                  <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                  <!--<ul class="menu">-->
                  <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the-->
                  <!--page and may cause design problems-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-users text-red"></i> 5 new members joined-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-shopping-cart text-green"></i> 25 sales made-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-user text-red"></i> You changed your username-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--</ul>-->
                  <!--</li>-->
                  <!--<li class="footer"><a href="#">View all</a></li>-->
                  <!--</ul>-->
                  <!--</li>-->
                  <!-- User Account: style can be found in dropdown.less -->
                  <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                      <img ng-src="{{userIcon}}" class="user-image" alt="User Image">
                      <span class="hidden-xs">张嘉琦</span>
                    </a>
                    <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header">
                        <img ng-src="{{userIcon}}" class="img-circle" alt="User Image">

                        <p>
                          张嘉琦
                          <small>1级经纪人</small>
                        </p>
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                          <a class="btn btn-default btn-flat">Sign out</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!-- Control Sidebar Toggle Button -->
                </ul>
              </div>
            </nav>
          </header>

          <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- Sidebar user panel -->
              <div class="user-panel">
                <div class="pull-left image">
                  <img ng-src="{{userIcon}}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                  <p>张嘉琦</p>
                  <a><i class="fa fa-circle text-success"></i> Online</a>
                </div>
              </div>
              <!-- search form -->
              <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
              </form>
              <!-- /.search form -->
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-user-secret"></i>
                    <span>管理员模块</span>
                    <!--<span class="pull-right-container">-->
                    <!--<span class="label label-primary pull-right">4</span>-->
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li  ng-repeat="item in adminMenu track by $index">
                      <a ng-click="menu_active($index)" ui-sref="{{item.url}}">
                        <i class={{item.icon}}></i> <span>{{item.name}}</span>
                        <!--<span class="pull-right-container">-->
                        <!--<small class="label pull-right bg-red">3</small>-->
                        <!--<small class="label pull-right bg-blue">17</small>-->
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-user"></i>
                    <span>经纪人模块</span>
                    <!--<span class="pull-right-container">-->
                    <!--<span class="label label-primary pull-right">4</span>-->
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li  ng-repeat="item in managerMenu track by $index">
                      <a ng-click="menu_active($index)" ui-sref="{{item.url}}">
                        <i class={{item.icon}}></i> <span>{{item.name}}</span>
                        <!--<span class="pull-right-container">-->
                        <!--<small class="label pull-right bg-red">3</small>-->
                        <!--<small class="label pull-right bg-blue">17</small>-->
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </section>
            <!-- /.sidebar -->
          </aside>
        </section>


        <div class="content-wrapper">
          <div ui-view></div>
        </div>

        <footer class="main-footer">
          <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
          </div>
          <strong>Copyright &copy; 2015-2017 <a href="#">MR Media</a>.</strong> All rights reserved.
        </footer>
      </div>

    </div>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/AdminLTE/dist/js/app.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/cropper/dist/cropper.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- 全局服务 -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/token-service.js"></script>
        <script src="scripts/services/interceptor.js"></script>
        <script src="scripts/services/notice-service.js"></script>
        <script src="scripts/services/error-service.js"></script>

        <!-- <script src="scripts/services/reason-service.js"></script>
        <script src="scripts/services/richtext-config.js"></script> -->
        <script src="../bower_components/angular-i18n/angular-locale_zh.js"></script>
        <script src="../bower_components/cryptojslib/rollups/sha256.js"></script>

        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/sidebar.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/uploader.js"></script>
        <script src="scripts/controllers/manager-list.js"></script>
        <script src="scripts/controllers/manager-detail.js"></script>
        <script src="scripts/controllers/anchor-list.js"></script>
        <script src="scripts/controllers/anchor-detail.js"></script>
        <script src="scripts/controllers/verify-list.js"></script>
        <script src="scripts/controllers/settlement.js"></script>
        <script src="scripts/controllers/back-user.js"></script>
        <script src="scripts/controllers/verify-status.js"></script>
        <!-- 模块服务 -->
        <script src="scripts/services/sidebar-service.js"></script>
        <script src="scripts/services/upload-service.js"></script>
        <script src="scripts/services/util-service.js"></script>
        <script src="scripts/services/admin-manager-service.js"></script>
        <script src="scripts/services/admin-anchor-service.js"></script>
        <!-- 组件 -->
        <script src="scripts/components/tic-toc.js"></script>
        <script src="scripts/components/compare.js"></script>

          <!-- filters -->
        <!-- <script src="scripts/filters/boolean-switch.js"></script>
        <script src="scripts/filters/weibo-weixin.js"></script>
        <script src="scripts/filters/task-finish.js"></script>
        <script src="scripts/filters/task-status.js"></script>
        <script src="scripts/filters/withdraw-status.js"></script>
        <script src="scripts/filters/accuary.js"></script> -->
        <!-- endbuild -->
</body>
</html>
