<section class="content-header">
  <h1>
    MR-Media
    <small>审核列表</small>
  </h1>
  <ol class="breadcrumb">
    <li ><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li  class="active"><a href="#"> 审核列表</a></li>
  </ol>
</section>
<section class="content">

    <!-- Main content -->
    <section class="content">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#childManager" data-toggle="tab" aria-expanded="true">经纪人审核</a></li>
          <li class=""><a href="#childAnchor" data-toggle="tab" aria-expanded="false">主播审核</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="childManager">
            <!-- 经纪人审核 -->
            <table st-table="managerrowCollection" st-safe-src="managerCollection" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th colspan="14" class="form-inline">
                  <label class="pull-left">搜索：<input st-search placeholder="全局动态搜索" class="form-control" type="search"/></label>
                </th>
              </tr>
              <tr>
                <th>真实姓名</th>
                <th>审核状态</th>
                <th>手机号</th>
                <th>微信号</th>
                <th>经纪人等级</th>
                <th>上级经纪人</th>
                <th>身份证号</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in managerrowCollection">
                <td>{{item.name}}</td>
                <td>{{item.status | decode: statusTable}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.wechat}}</td>
                <td>{{item.level}}</td>
                <td>{{item.father}}</td>
                <td>{{item.idCard}}</td>
                <td><span class="label label-primary" ng-if="item.status === 0" ng-click="showManagerModal(item)">审核</span> <span class="label label-danger" ng-click="showDeleteModal(item.id)">删除</span></td>
              </tr>



              </tbody>

              <tfoot>
              <tr>
                <td colspan=8>
                  <div st-pagination="" st-items-by-page="itemsByPage" st-template="./views/custom-pagination.html"></div>
                </td>
              </tr>
              </tfoot>

            </table>
            <!-- /.经纪人 -->

          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="childAnchor">
            <!-- 主播 -->
            <table st-table="anchorrowCollection" st-safe-src="anchorCollection" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th colspan="14" class="form-inline">
                  <label class="pull-left">搜索：<input st-search placeholder="全局动态搜索" class="form-control" type="search"/></label>
                </th>
              </tr>
              <tr>
                <th>真实姓名</th>
                <th>审核状态</th>
                <th>手机号</th>
                <th>微信号</th>
                <th>经纪人</th>
                <th>身份证号</th>
                <th>所在地</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in anchorrowCollection">
                <td>{{item.name}}</td>
                <td>{{item.status | decode: statusTable}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.wechat}}</td>
                <td>{{item.father}}</td>
                <td>{{item.idCard}}</td>
                <td>{{item.location}}</td>
                <td><span class="label label-primary" ng-click="showAnchorModal(item)">审核</span> <span class="label label-danger"  ng-click="showDeleteModal(item.id)">删除</span></td>
              </tr>



              </tbody>

              <tfoot>
              <tr>
                <td colspan=8>
                  <div st-pagination="" st-items-by-page="itemsByPage" st-template="./views/custom-pagination.html"></div>
                </td>
              </tr>
              </tfoot>

            </table>
            <!-- /.主播 -->

          </div>
          <!-- /.tab-pane -->
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
    </section>
    <!-- /.content -->

</section>



<div class="modal fade" id="verifyManager" tabindex="-1" role="dialog" aria-labelledby="verifyManagerLabel">
  <div class="modal-dialog" role="document">
    <div class="box box-info">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="verifyManagerLabel">审核经纪人</h4>
        </div>
        <div class="modal-body">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" ng-src="{{manager.avatar}}">

            <h3 class="profile-username text-center">{{manager.name}}</h3>

            <p class="text-muted text-center">{{manager.level}} 级经纪人</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>手机号</b> <a class="pull-right">{{manager.phone}}</a>
              </li>
              <li class="list-group-item">
                <b>微信号</b> <a class="pull-right">{{manager.wechat}}</a>
              </li>
              <li class="list-group-item">
                <b>上级经纪人</b> <a class="pull-right">{{manager.father}}</a>
              </li>
              <li class="list-group-item">
                <b>身份证号</b> <a class="pull-right">{{manager.idCard}}</a>
              </li>
              <li class="list-group-item">
                <b>{{manager.payType | decode:payTypeTable}}</b> <a class="pull-right">{{manager.payAccount}}</a>
              </li>
              <li class="list-group-item">
                <img ng-repeat="item in manager.idPics track by $index" class="img-responsive" ng-src="{{item}}">
              </li>
            </ul>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="verify_submit()">通过</button>
          <button type="button" class="btn btn-danger" ng-click="verify_refuse()">拒绝</button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="verifyAnchor" tabindex="-1" role="dialog" aria-labelledby="verifyAnchorLabel">
  <div class="modal-dialog" role="document">
    <div class="box box-info">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="verifyAnchorLabel">审核主播</h4>
        </div>
        <div class="modal-body">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" ng-src="{{actor.avatar}}">

            <h3 class="profile-username text-center">{{actor.name}}</h3>


            <div class="col-sm-12"><ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>手机号</b> <a class="pull-right">{{actor.phone}}</a>
              </li>
              <li class="list-group-item">
                <b>微信号</b> <a class="pull-right">{{actor.wechat}}</a>
              </li>
              <li class="list-group-item">
                <b>经纪人</b> <a class="pull-right">{{actor.father}}</a>
              </li>
              <li class="list-group-item">
                <b>身份证号</b> <a class="pull-right">{{actor.idCard}}</a>
              </li>
              <li class="list-group-item">
                <b>{{actor.payType | decode : payTypeTable}}</b> <a class="pull-right">{{actor.payAccount}}</a>
              </li>
              <li class="list-group-item">
                <b>所在地</b> <a class="pull-right">{{actor.location}}</a>
              </li>
              <li class="list-group-item">
                <b>技能</b> <a class="pull-right">
                <p ng-repeat="item in actor.skills track by $index">
                <span ng-if="item === 0" class="label label-danger">唱歌</span>
                <span ng-if="item === 1" class="label label-success">跳舞</span>
                <span ng-if="item === 2" class="label label-info">段子手</span>
                <span ng-if="item === 3" class="label label-warning">绘画</span>
                <span ng-if="item === 4" class="label label-primary">游戏</span>
              </p></a>
              </li>
              <li class="list-group-item">
                <img ng-repeat="item in actor.idPics track by $index" class="img-responsive" ng-src="{{item}}" style="margin-top: 3%">
              </li>

            </ul></div>
            <div class="col-sm-12" style="margin-bottom: 4%">
              <b>照片</b>
            </div>
            <div class="col-sm-6">
              <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                  <img class="img-responsive" ng-src="{{actor.photo[0]}}">
              </li>
              <li class="list-group-item">
                <img class="img-responsive" ng-src="{{actor.photo[1]}}">
              </li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <img class="img-responsive" ng-src="{{actor.photo[2]}}">
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="verify_submit()">通过</button>
          <button type="button" class="btn btn-danger" ng-click="verify_submit()">拒绝</button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="modifyDelete" tabindex="-1" role="dialog" aria-labelledby="modifyProductLabel">
  <div class="modal-dialog" role="document">
    <div class="box box-info">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">提示！</h4>
        </div>
        <div class="modal-body">
          <p>是否确认删除？&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i>取消</button>
          <button type="button" class="btn btn-danger" ng-click="comfirmDelete()"><i class="fa fa-trash"></i>确认删除</button>
        </div>
      </div>
    </div>
  </div>
</div>
