<section class="content-header">
  <h1>
    MR-Media
    <small>经纪人列表</small>
  </h1>
  <ol class="breadcrumb">
    <li  class="active"><a href="#"><i class="fa fa-dashboard"></i> 主播列表</a></li>
  </ol>
</section>
<section class="content">

    <!-- Main content -->
    <section class="content">
      <div class="avatar-body">
        <div class="avatar-upload">
          <input class="avatar-src" name="avatar_src" type="hidden">
          <input class="avatar-data" name="avatar_data" type="hidden">
          <label for="avatarInput">图片上传</label>
          <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
        <div class="row">
          <div class="col-md-9">
            <div class="avatar-wrapper">
              <img id="avatarImg" src="../images/icon.jpg" style="max-width: 100%;">
            </div>
          </div>
          <div class="col-md-3">
            <div class="avatar-preview preview-lg"></div>
            <div class="avatar-preview preview-md"></div>
            <div class="avatar-preview preview-sm"></div>
          </div>
        </div>
        <div class="row avatar-btns">
          <div class="col-md-9">
            <div class="btn-group">
              <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
            </div>
            <div class="btn-group">
              <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->

</section>
